:root {
    --main-theme-color: #1ecaf2;
    --main-shadow-color: #55d9f9;
    --main-theme-bg-soft-color: rgba(64, 190, 221, .5); /* --main-theme-color + opacity: 50% */
    --main-theme-bg-hard-color: rgba(64, 190, 221, .7); /* --main-theme-color + opacity: 70% */
    --main-theme-bg-dense-color: rgba(64, 190, 221, .95); /* --main-theme-color + opacity: 95% */

    --accent-color: #ff8b19;
    --accent-shadow-color: #ffa853;

    --active-color: #18F653;
    --active-shadow-color: #51FB7E;

    --button-color: var(--main-theme-color);
    --button-text-color: var(--button-color);
    --button-shadow: var(--main-shadow-color);

    --animation-timer-turn-on: 1.7s;
    --animation-timer-turn-off: .18s;
}